# Looking at birds from California

https://www.pymc-labs.io/blog-posts/spatial-gaussian-process-01/

In [7]:
import pandas as pd


def _convert_time(ts: str) -> float:
    """Convert hh:mm strings into hours since midnight."""
    try:
        hour, minute = ts.split(":")
        return int(hour) + int(minute) / 60
    except:
        # xx:xx
        return float("nan")


df = pd.read_csv("../data/raw/birdclef-2022/train_metadata.csv")
df["hour"] = df.time.apply(_convert_time)
subset = df[["primary_label", "latitude", "longitude", "hour"]].dropna()
subset

      primary_label  latitude  longitude   hour
0           afrsil1   12.3910    -1.4930   8.00
1           afrsil1   19.8801  -155.7254   8.50
2           afrsil1   16.2901   -16.0321  11.50
3           afrsil1   17.0922    54.2958  11.00
4           afrsil1   21.4581  -157.7252  16.50
...             ...       ...        ...    ...
14847        zebdov   22.6499   120.2872   8.60
14848        zebdov    1.4168   103.7287   8.00
14849        zebdov    1.4347   103.7043   9.00
14850        zebdov    3.3508   101.2451  11.25
14851        zebdov    3.3508   101.2451  10.00

[14139 rows x 4 columns]